.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 16rem;
}

.floating-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  padding-right: 3rem;
}

.notification-bell {
  margin-left: auto;
}

.content {
  padding: 1rem;
}

.toolbar-title {
  margin-left: 0.5rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar-button {
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 0.75rem;
  font-size: 1rem;
}

.profile-button {
  width: 100%;
  height: fit-content;
  padding: 0;
  justify-content: flex-start;
  text-transform: none;
  margin-bottom: 1rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  text-align: left;
  border-radius: 8px;
}

.profile-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2;
}

.sidebar-spacer {
  flex: 1;
}

.logout-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.notification-badge ::ng-deep .mat-badge-content {
    width: 1rem;
    height: 1rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  font-family: Arial, sans-serif;
}

.loading-overlay mat-spinner {
  margin-bottom: 16px;
}   
