services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$ROOT_PASSWORD"]
      interval: 20s
      timeout: 20s
      retries: 20
      start_period: 120s

  app:
    build: ./backend
    container_name: app
    environment:
      - SPRING_PROFILES_ACTIVE=ilem
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8090:8080"
    volumes:
      - app-data:/app
    networks:
      - app-network

volumes:
  app-data:
    driver: local

networks:
  app-network:
    driver: bridge