.user-preview-button {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;

  .avatars {
    display: flex;
    gap: 4px;

    .avatar {
      border-radius: 50%;
      object-fit: cover;
    }

    .more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ccc;
      font-size: 0.8rem;
      color: white;
    }
  }
}
