.user-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-button {
  width: 100%;
  height: fit-content;
  padding: 0;
  justify-content: flex-start;
  text-transform: none;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  text-align: left;
  border-radius: 8px;
}

.user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2;
}