<form [formGroup]="sprintForm" (ngSubmit)="submit()" class="sprint-form">

  <mat-card>
    <mat-card-title>
      {{ isEditMode ? "Edit Sprint" : "Create Sprint" }}
    </mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (sprintForm.get('title')?.hasError('required')) {
            <mat-error>
                Title is required
            </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="4" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="duePicker" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
        <mat-datepicker #duePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>End Date (optional)</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            @for (status of statuses; track status) {
                <mat-option [value]="status">
                    {{ status }}
                </mat-option>
            }
        </mat-select>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button type="button" (click)="exitForm()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? "Save Changes" : "Create Sprint" }}
      </button>
    </mat-card-actions>
  </mat-card>

</form>
