<app-entity-card
  [entity]="projectDetails"
  entityName="Project"
  [showManipulateOptions]="clientDetails.permissions.canManipulateTicket || false"
  [update]="updateProject"
  [delete]="deleteProject"
>
  <div class="project-details" details>
    <div class="project-text">
      <div class="project-title">
        <h4 class="section-label">Project</h4>
        <h1>{{ projectDetails.title }}</h1>
      </div>

      <div class="project-description">
        <h2>Description</h2>
        <p>{{ projectDetails.description }}</p>
      </div>

      <app-project-status-chip [status]="projectDetails.status" />

      <div class="project-participants">
        <app-user-list-preview-button [previewUsers]="previewParticipants" [avatarSize]="30"
          (clicked)="onOpenParticipantList()" />
      </div>
    </div>

    @if (projectDetails.profilePictureUrl) {
    <img mat-card-image class="profile-picture" [src]="projectDetails.profilePictureUrl+'?cacheBuster='+cacheBuster"
      alt="Project profile picture" />
    }

  </div>
</app-entity-card>

@if (columns) {
  <app-crud-table
    [columns]="columns"
    [rowClass]="rowClass"
    [showManipulateOptions]="clientDetails.permissions.canManipulateSprint || false"
    [filters]="filters"
    entityName="Sprint"
    [view]="viewSprint"
    [create]="createSprint"
    [update]="updateSprint"
    [delete]="deleteSprint"
    [pageQuery]="loadSprints"
    [isLoadData]="isLoadSprintData"
    >
  </app-crud-table>
}

<ng-template #sprintStatusTemplate let-status>
  <app-sprint-status-chip [status]="status"></app-sprint-status-chip>
</ng-template>
